/*começo index*/
body {
    overflow-y: scroll;
    height: auto;
    width: 100%;
}

header img {
    vertical-align: middle;
    width: 5%;
    padding: 10px;
}

header h1 {
    vertical-align: middle;
    display: inline;
    font-size: 30px;
    color: white;
    text-transform: uppercase;
    font-family: Tahoma, Helvetica, Arial, sans-serif;
}

header {
    background-image: url(../img/background4.png);
    box-shadow: 0 3px 10px rgb(255, 255, 255);
    position: sticky;
    top: 0px;
    padding: 0px 20px;
}

header ul a {
    color: inherit;
    text-decoration: none;
}

header ul li {
    color: white;
    font-size: 25px;
    display: inline;
    margin: 20px;
    padding: 10px 15px;
    font-family: sans-serif;
    border: 0px solid #FFFFFF;
    border-radius: 16px;
}

header ul li:hover {
    background: #FFFFFF;
    color: #000000;
    transition: 0.2s;
    animation: fadeinanimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeinanimation {
    0% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

header ul {
    align-items: center;
    display: inline;
    vertical-align: middle;
}

.box1 ul {
     align-items: center;
    vertical-align: middle;
    display: inline;
    width: 100%;
    margin: 0 auto;
}

.box1 ul li {
    align-items: center;
    display: inline-block;
    text-align: center;
    width: 21.5%;
    vertical-align: top;
    margin: 1.5% 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #FFFFFF;
    border-radius: 8px;
    font-family: Tahoma, Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: #FFFFFF;
}

.box1 ul li a {
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.box1 ul li:hover {
    align-items: center;
    border-color: #FFFFFF;
    background: #FFFFFF;
    color: #000000;
    opacity: 1;
    transform: scale(105.5%);
    animation: scaleanimation 0.5s;
}

@keyframes scaleanimation {
    0% {
        transform: scale(100%);
        opacity: 0.1;
    }
    100% {
        transform: scale(105.5%);
        opacity: 1;
    }
}
footer {
    background-image: url(../img/background4.png);
}

.logo {
    display: inline-block;
    vertical-align: middle;
    width: 250px;
    margin: 40px;
    text-align: center;
    padding: 20px 100px;
    border-right: 1px #FFFFFF solid;
}

footer ul {
    text-align: center;
}

footer ul li a {
    display: inline;
    vertical-align: middle;
    margin: 40px;
    font-size: 22px;
    font-family: Tahoma, Helvetica, Arial, sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    border: 0px solid;
    border-radius: 16px;
    padding: 10px 15px;
    text-align: center;
}

footer ul li a:hover {
    background: #FFFFFF;
    color: #000000;
    transition: 0.2s;
    animation: fadeinanimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.banner {
    background-image: url(../img/Mondstadt\ with\ Blur.jpg);
    width: 100%;
}

.youtube {
    margin: 80px 0px;
    border-right: #FFFFFF 1px solid;
    padding: 50px;
}

.banner ul li {
    display: inline-block;
    vertical-align: middle;
}

h3 {
    color: #FFFFFF;
    font-family: Tahoma, Helvetica, Arial, sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    margin: 20px;
}

.banner p {
    color: #FFFFFF;
    font-family: Tahoma, Helvetica, Arial, sans-serif;
    font-size: 30px;
}

.textobanner p {
    margin: 50px 20px;
}

h4 {
    color: #FFFFFF;
    font-family: Tahoma, Helvetica, Arial, sans-serif;
    font-size: 30px;
    border: 0px solid #17C7D8;
    border-radius: 16px;
    padding: 16px;
    margin: 0px 20px;
    display: inline-block;
    background-image: url(../img/background4.png);
    background-size: contain;
}

.textobanner a {
    text-decoration: none;
}

h4:hover {
    background: #FFFFFF;
    color: #000000;
}

.copyright {
    color: #FFFFFF;
}
/* fim index */


.main-box{
    padding: 50px;
    margin-left: 10px;
}
.img-icons{
    border-radius: 100px;
    background-color: rgba(156, 0, 0, 0.582);
    padding: 50px;
}
.text-head{
    margin-left: 100px;
    font-size: 70px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.main-2{
    
    margin-left: 900px;
    margin-top: -400px;
    display:flex;
}
.main-1{
    display:flex;
}
.text-main{
    text-align: center;
    margin-left: 10px;
    font-size: 25px;
    margin-top: 250px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.secondary-box{
    gap:30px;
    display:flex;
    padding: 30px;
}
.img-full{
    margin-top:500px;
    border-radius: 100px;
    height: 1000px;
    width: 1000px;
    padding:50px;
    background-color: rgba(156, 0, 0, 0.582);
}
.text-secondary{
    font-size: 100px;
}